@charset "utf-8";

body {
  font-family: "Lato";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.title-font {
  font-family: "Raleway";
}

.btn {
  font-size: 12px;
  background-color: #74cfae;
  text-decoration: none;
  display: inline-block;
  transition: all .3s;
  color: #fff;
}

.btn:hover {
  color: #333;
}

/* header */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header-bolt-icon {
  font-size: 40px;
  color: #4e4e4e;
}

.header-btn {
  padding: 14px 12px;
}

.hamburger-menu {
  display: none;
}

/* main */
main {
  padding-top: 70px;
}

/* thema */
.thema {
  background-color: #f2f2f2;
}

.thema-inner {
  text-align: center;
  padding: 250px 0;
}

.thema-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.thema-subtitle {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* what */
.what {
  background-color: #74cfae;
}

.what-inner {
  padding-top: 50px;
  display: flex;
}

.what-img {
  text-align: center;
  width: 400px;
}

.what-img .ip-img {
  vertical-align: bottom;
}

.what-title-text {
  width: 650px;
  text-align: center;
  color: #fff;
}

.what-title {
  font-size: 24px;
}

.what-text {
  font-size: 20px;
  margin-top: 35px;
  width: 650px;
  line-height: 30px;
}

/* work */
.work {
  background-color: #f2f2f2;
}

.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.work-title {
  font-size: 24px;
  text-align: center;
  color: 	#333;
}

.work-list {
  margin-top: 40px;
  font-size: 0;
}

.work-list li {
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
}

.work-list li:nth-child(-n+3) {
  margin-top: 0;
}

.work-list li:nth-child(3n+1) {
  margin-left: 0;
}

.work-list li img {
  opacity: .7;
  transition: .3s;
}

.work-list li img:hover {
  opacity: 1;
}

.work-list li a {
  display: block;
}

.work-subtitle a {
  line-height: 10px;
  height: 10px;
  padding: 14px 20px;
  margin-left: 90px;
}

.work-subtitle {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}

.work-subtitle-text {
  text-align: center;
  width: 500px;
  color: 	#333;
}

/* skills */
.skills {
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px;
  box-sizing: border-box;
}

.skills_title {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.circle-list {
  font-size: 0;
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.circle-list li {
  text-align: center;
  margin-left: 180px;
}

.circle-list li:first-child {
  margin-left: 0;
}

.circle_text {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

/* sns */
.sns {
  background-color: 	#f2f2f2;
}

.sns_inner {
  padding: 200px 0;
}

.nav-list {
  text-align: center;
}

.nav-list li {
  display: inline-block;
  width: 185px;
  text-align: center;
  font-size: 50px;
  transition: .3s;
}

.nav-list a{
  color: #74cfae;
  display: block;
  padding: 20px 0;
}

.nav-list li:hover {
  background-color: #fff;
}

/* footer */
.footer {
  background-color: #74cfae;
}
.footer_inner {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.footer_inner_text {
  text-align: right;
  color: #fff;
}
/* タブレット用レイアウト */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .what-inner {
    display: block;
    padding-bottom: 25px;
  }

  .what-img {
    width: 100%;
  }

  .what-title-text {
    width: 100%;
    margin-top: 20px;
  }

  .what-text {
    width: 85%;
    margin: 35px auto 0;
  }

  .work-inner {
    padding-bottom: 70px;
  }

  .work-list li{
    display: block;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }

  .work-list li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-list li:first-child {
    margin-top: 0;
  }

  .work-subtitle {
    display: block;
    padding: 0;
    margin-top: 80px;
    text-align: center;
  }

  .work-subtitle-text {
    width: 100%;
  }

  .work-subtitle a {
   margin-left: 0px;
   margin-top: 40px;
  }

  .circle-list {
    display: block;
  }

  .circle-list li {
    margin-top: 88px;
    margin-left: 0;
  }

  .circle-list li:first-child {
    margin-left: 0;
    margin-top: 0;
  }

  .sns_inner {
    width: 100%;
  }

  .nav-list {
    padding-left: 0;
    text-align: center;
    line-height: 0px;
  }

  .nav-list li {
    width: 130px;
  }

  .nav-icon {
    font-size: 40px;
  }
}

 /* スマートフォン用レイアウト */

@media screen and (max-width: 767px) {
  .inner {
    width: 100%;
  }

  .header-bolt-icon {
    margin-left: 15px;
  }

  .header {
    width: 320px;
  }
  .header-btn {
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 13;
    border: 1px solid #ddd;
    border-radius: 4px;
    }

  .hamburger-menu span {
    display: block;
    position: absolute;
    width: 31px;
    border-bottom: solid 3px #ddd;
    left: 7px;
  }

  .hamburger-menu span:nth-child(1) {
    top: 10px;
  }

  .hamburger-menu span:nth-child(2) {
    top: 20px;
  }

  .hamburger-menu span:nth-child(3) {
    top: 30px;
  }

  .thema-inner {
    padding: 160px 0 130px;
  }

  .thema-title {
    font-size: 80px;
  }

  .what-inner {
    display: block;
    padding-bottom: 25px;
  }

  .what-img {
    width: 100%;
  }

  .what-title-text {
    width: 100%;
    margin-top: 20px;
  }

  .what-text {
    width: 85%;
    margin: 35px auto 0;
  }

  .work-inner {
    padding-bottom: 70px;
  }

  .work-list li{
    display: block;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }

  .work-list li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-list li:first-child {
    margin-top: 0;
  }

  .work-subtitle {
    display: block;
    padding: 0;
    margin-top: 80px;
    text-align: center;
  }

  .work-subtitle-text {
    width: 100%;
  }

  .work-subtitle a {
   margin-left: 0px;
   margin-top: 40px;
  }

  .circle-list {
    display: block;
  }

  .circle-list li {
    margin-top: 88px;
    margin-left: 0;
  }

  .circle-list li:first-child {
    margin-left: 0;
    margin-top: 0;
  }

  .sns_inner {
    padding: 50px 0;
    box-sizing: border-box;
  }
  .nav-list {
    padding-left: 0in;
  }

  .nav-list li {
    display: block;
    width: 100%;
  }

  .footer_inner_text {
    padding-right: 10px;
  }
}