@charset "utf-8";

body {
  font-family: "Lato";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.title-font {
  font-family: "Raleway";
}

.btn {
  font-size: 12px;
  background-color: #74cfae;
  text-decoration: none;
  display: inline-block;
  transition: all .3s;
  color: #fff;
}

.btn:hover {
  color: #333;
}

.bg-gray {
  background-color: #f2f2f2;
}

.bg-green {
  background-color: #74cfae;
}
/* header */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header-bolt-icon {
  font-size: 40px;
  color: #4e4e4e;
}

.header-btn {
  padding: 14px 12px;
}

.hamburger-menu {
  display: none;
}
/* main */
main {
  padding-top: 70px;
}
/* thema */
.thema-inner {
  text-align: center;
  padding: 250px 0;
}

.thema-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.thema-subtitle {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
/* what */
.what-inner {
  padding-top: 50px;
  display: flex;
  text-align: center;
}

.what-img {
  width: 40%;
}

.what-img .ip-img {
  vertical-align: bottom;
}

.what-title-text {
  width: 60%;
  color: #fff;
}

.what-title {
  font-size: 24px;
}

.what-text {
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
}
/* work */
.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;
}

.work-title {
  font-size: 24px;
  color: 	#333;
}

.work-list {
  margin-top: 40px;
  font-size: 0;
}

.work-list li {
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
}

.work-list li:nth-child(-n+3) {
  margin-top: 0;
}

.work-list li:nth-child(3n+1) {
  margin-left: 0;
}

.work-list li img {
  opacity: .7;
  transition: .3s;
}

.work-list li img:hover {
  opacity: 1;
}

.work-list li a {
  display: inline-block;
}

.work-subtitle a {
  line-height: 10px;
  height: 10px;
  padding: 14px 20px;
  margin-left: 90px;
}

.work-subtitle {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}

.work-subtitle-text {
  width: 500px;
  color: 	#333;
}
/* skills */
.skills {
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px;
  text-align: center;
}

.skills_title {
  color: #fff;
  font-size: 24px;
}

.circle-list {
  font-size: 0;
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.circle-list li {
  margin-left: 180px;
}

.circle-list li:first-child {
  margin-left: 0;
}

.circle_text {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}
/* sns */
.sns_inner {
  padding: 200px 0;
}

.nav-list {
  text-align: center;
  font-size: 0;
}

.nav-list li {
  display: inline-block;
  width: 185px;
  font-size: 50px;
  transition: .3s;
}

.nav-list a{
  color: #74cfae;
  display: block;
  padding: 20px 0;
}

.nav-list li:hover {
  background-color: #fff;
}
/* footer */
.footer_inner {
  padding: 20px 0 25px;
}

.footer_inner_text {
  text-align: right;
  color: #fff;
}
/* タブレット用以下レイアウト */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .what-inner {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .what-img {
    width: 100%;
  }

  .what-title-text {
    width: 100%;
    margin-top: 20px;
  }

  .what-text {
    width: 100%;
    margin: 35px auto 0;
  }

  .work-inner {
    padding-bottom: 70px;
  }

  .work-list li{
    display: block;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }

  .work-list li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-list li:first-child {
    margin-top: 0;
  }

  .work-subtitle {
    flex-direction: column;
    margin-top: 80px;
  }

  .work-subtitle-text {
    width: 100%;
  }

  .work-btn {
    margin-top: 40px;
  }
  .work-btn a {
   margin-left: 0px;
  }

  .circle-list {
    flex-direction: column;
  }

  .circle-list li {
    margin-top: 88px;
    margin-left: 0;
  }

  .circle-list li:first-child {
    margin-top: 0;
  }
}
 /* スマートフォン用レイアウト */
@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }

  .hamburger-menu {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    }

  .hamburger-menu span {
    display: block;
    width: 27px;
    background-color: #ddd;
    height: 3px;
    margin-top: 5px;
  }

  .hamburger-menu span:first-child {
    margin-top: 0;
  }
  .thema-inner {
    padding: 160px 0 130px;
  }

  .thema-title {
    font-size: 80px;
  }

  .sns_inner {
    padding: 50px 0;
  }

  .nav-list li {
    width: 100%;
  }
}